.heatmap-cells-wrapper {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
}

.cell {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 2px;
    background-color: #e6ecf5;
}